@import "./variables";
@import "./mixins";
@import "./responsive";
@import "./nav";
@import "./mainSection";
@import "./cardgroup";
@import "./banners";


* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
  }

  body {
    background-color: $pink !important;
  }