header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFCFCF;
}

header nav {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .checkBtn {
  display: none;
}

header nav ol {
  list-style: none;
  padding-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ol a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #DE571E;
  margin: 0.3rem;
  padding: 0.4rem 1.2rem;
}

header nav ol a:hover {
  color: #DE571E !important;
  border-bottom: solid 1px #b4a841;
}

header nav ol button {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #FFCFCF;
  padding: 0.4rem 1.2rem;
  background-color: #DE571E;
  border: none;
  margin: 0.3rem;
  border-radius: 20px;
  border: solid 1px #DE571E;
}

header nav ol button:hover {
  background-color: transparent;
  color: #DE571E;
  border: solid 1px #DE571E;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

@media (max-width: 1000px) {
  nav .checkBtn {
    display: block !important;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
  }
  nav .checkBtn::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 1.2rem;
    color: #DE571E;
  }
  nav .checkBtn:checked::before {
    content: "\f192";
    font-size: 1.2rem;
  }
  nav .checkBtn:checked + ol {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  nav ol {
    position: absolute;
    top: 4rem;
    width: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFCFCF;
    z-index: 100;
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: -webkit-clip-path 0.4s;
    transition: -webkit-clip-path 0.4s;
    transition: clip-path 0.4s;
    transition: clip-path 0.4s, -webkit-clip-path 0.4s;
  }
  nav ol::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #DE571E;
  }
}

.mainSection {
  margin-top: 5rem;
  padding: 4rem 2rem;
  background-image: url("./images/main-section.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 6rem;
}

.mainSection h1 {
  color: #ffe0b5;
}

.mainSection p {
  color: #ffe0b5;
  font-weight: 200;
}

.mainSection .button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #DE571E;
  padding: 0.4rem 1.2rem;
  background-color: #ffe0b5;
  border: none;
  margin: 0.3rem;
  border-radius: 20px;
  border: solid 1px #ffe0b5;
}

.mainSection .button:hover {
  color: #ffe0b5;
  background-color: #DE571E;
  border: solid 1px #ffe0b5;
}

.sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0rem;
}

.sectionTitle h5 {
  font-family: "Poppins", sans-serif;
  color: #DE571E;
  font-size: 3rem;
  font-weight: 800;
}

.sectionTitle h5 span {
  font-weight: 500;
  color: #c48982;
}

.card-group {
  margin-bottom: 1rem;
}

.card-group .card {
  border-radius: 20px;
}

.card-group .card img {
  width: auto;
  max-height: 250px;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.card-group .card .btn {
  background-color: #DE571E;
  color: #FFCFCF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-color: #DE571E;
  padding: 0.5rem 1rem;
}

.card-group .card .btn:hover {
  background-color: #FFCFCF;
  color: #DE571E;
}

.card-group .card .card-title {
  font-family: "Poppins", sans-serif;
  color: #DE571E;
  font-weight: bold;
}

.card-group .card .card-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #b4a841;
}

.section1 {
  background-image: url("./images/banner-jackets.jpg");
  background-size: cover;
  background-position: top;
}

.section1 h1 {
  font-family: "Poppins", sans-serif;
  color: #DE571E;
}

.section1 p {
  font-family: "Poppins", sans-serif;
  color: #c48982;
}

.section1 button {
  font-family: "Poppins", sans-serif;
  color: #DE571E;
  padding: 0.4rem 1.2rem;
  background-color: #FFCFCF;
  border: none;
  margin: 0.3rem;
  border-radius: 20px;
  border: solid 1px #FFCFCF;
}

.section1 button:hover {
  color: #FFCFCF;
  background-color: #DE571E;
  border: solid 1px #FFCFCF;
}

.section2 {
  margin-bottom: 5rem;
}

.section2 .section2-1 {
  background-image: url("./images/shoes.jpg");
  background-size: cover;
  background-position: center;
}

.section2 .section2-1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #DE571E;
}

.section2 .section2-1 p {
  font-family: "Poppins", sans-serif;
  color: #c48982;
}

.section2 .section2-1 button {
  font-family: "Poppins", sans-serif;
  color: #DE571E;
  padding: 0.4rem 1.2rem;
  background-color: #FFCFCF;
  border: none;
  margin: 0.3rem;
  border-radius: 20px;
  border: solid 1px #FFCFCF;
}

.section2 .section2-1 button:hover {
  color: #FFCFCF;
  background-color: #DE571E;
  border: solid 1px #FFCFCF;
}

.section2 .section2-2 {
  background-image: url("./images/banner-outfits.jpg");
  background-size: cover;
  background-position: bottom;
}

.section2 .section2-2 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #DE571E;
}

.section2 .section2-2 p {
  font-family: "Poppins", sans-serif;
  color: #c48982;
}

.section2 .section2-2 button {
  font-family: "Poppins", sans-serif;
  color: #DE571E;
  padding: 0.4rem 1.2rem;
  background-color: #FFCFCF;
  border: none;
  margin: 0.3rem;
  border-radius: 20px;
  border: solid 1px #FFCFCF;
}

.section2 .section2-2 button:hover {
  color: #FFCFCF;
  background-color: #DE571E;
  border: solid 1px #FFCFCF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

body {
  background-color: #FFCFCF !important;
}
/*# sourceMappingURL=style.css.map */